/crash-reports
/exports
/logs
/mods
/natives-windows-x86_64
/resourcepacks
/saves
/skyblock_exports
Expert of Magic Art World.jar
Expert of Magic Art World.json
hmclversion.cfg
hs_err_pid19224.log
log4j2.xml
manifest.json
options.txt
patchouli_data.json
replay_pid19224.log
usercache.json
usernamecache.json